@font-face {
    font-family: "Lato Regular";
    src:url(../fonts/Lato-Regular2.ttf) format("truetype");
}
body {
    font-family: 'Lato Regular', Arial, sans-serif;
}
header {
    display:flex;
    height:180px;
    flex-direction:column;
    justify-content:space-evenly;

}
.row1 {
    display:flex;
    justify-content:flex-end;
    
}
.row2 {
    display:flex;
    justify-content:center;

}

.row3 {
    display:flex;
    justify-content:center;
    align-items:center;
    border-bottom-width:thin;
    border-bottom-style:solid;
    padding:1em;
}

.divider {
    border-style:solid;
    border-width:medium;
    border-color:grey;
}
#biopic {
    max-width:100px;
    max-height:auto
}
.row1 .navbar {
    padding:1rem;
    text-decoration:none;
    color:#39CCCC;
    padding:14px 25px;
}
.row1 .navbar:hover {
    color:#001f3f;
    background-color:#AAAAAA;
}
#kobepic {
    border-style:solid;
    border-width:medium;
    border-color:black;
}
#bronwadepic {
    float:right;
    max-width:170px;
    max-height:auto;
    border-style:solid;
    border-width:medium;
    border-color:black;
}
#restpic {
    float:left;
    max-width:150px;
    max-height:auto;
    border-style:solid;
    border-width:medium;
    border-color:black;
}
#dinwiddiepic {
    float:right;
    max-width:180px;
    max-height:auto;
    border-style:solid;
    border-width:medium;
    border-color:black;
}
#kobebronpic {
    float:left;
    max-width:200px;
    max-height:auto;
    border-style:solid;
    border-width:medium;
    border-color:black;
}
#indiagames {
    float:right;
    max-width:190px;
    max-height:auto;
    border-style:solid;
    border-width:thin;
    border-color:black;
}
#magic {
    float:left;
    max-width:175px;
    max-height:auto;
    border-style:solid;
    border-width:thin;
    border-color:black;
}
#bio {
    text-align: center;

}
#biopic {
    float:left;
    max-width:200px;
    max-height:auto;
}
#bio p {
    font-size:20px;
}
#contact {
    text-align:center;
}
#contact p {
    display:flex;
    flex-direction:column;
    font-size:40px
}
.rightheadline {
    text-align:right;
}

.righttext {
    font-style:italic;
    text-align:right;
    margin-bottom:30px;
}
.lefttext {
    font-style:italic;
    text-align:left;
    margin-bottom:30px;
}
.rightdate {
    text-align:right;
    font-style:italic;
    font-size:small;
}
.leftdate {
    text-align:left;
    font-style:italic;
    font-size:small;
}
.container {
    display:flex;
    padding:.5em;
}
.column {
    flex:50%;
    display:block;
    padding:1.5em;
    /*border-style:solid;
    border-width:thin;*/
}
label {
    font-size:20px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    padding:.5em;
    margin:1em;
}