@font-face {
    font-family: "Lato Regular";
    src:url(../fonts/Lato-Regular2.ttf) format("truetype");
}

body {
    font-family: 'Lato Regular', Arial, sans-serif;
}
header {
    background-color: #b85b25;
    margin:2%;
    border-style:solid;
    border-width:medium;
    border-color:black;
    text-align: center;
}
.divider {
    border-style:solid;
    border-width:medium;
    border-color:grey;
}
#mainpageh1 {
    position:relative;
    right:70px;
}
#mainpageh2 {
    position:relative;
    right:70px;
}
#profilepic {
    float:left;
    max-width:130px;
    max-height:auto;
}
#biopic {
    border-style:solid;
    border-color:black;
    border-width: medium;

}
.navbar {
    padding:20px 10px;
    margin:35px;
}
#kobepic {
    float:left;
    max-width:150px;
    max-height:auto;
    height:auto;
    border-style:solid;
    border-width:medium;
    border-color:black;
}
#bronwadepic {
    float:right;
    max-width:170px;
    max-height:auto;
    border-style:solid;
    border-width:medium;
    border-color:black;

}
#restpic {
    float:left;
    max-width:150px;
    max-height:auto;
    border-style:solid;
    border-width:medium;
    border-color:black;
}
#dinwiddiepic {
    float:right;
    max-width:180px;
    max-height:auto;
    border-style:solid;
    border-width:medium;
    border-color:black;

}
#kobebronpic {
    float:left;
    max-width:200px;
    max-height:auto;
    border-style:solid;
    border-width:medium;
    border-color:black;

}
#indiagames {
    float:right;
    max-width:190px;
    max-height:auto;
    border-style:solid;
    border-width:thin;
    border-color:black;


}
#magic {
    float:left;
    max-width:175px;
    max-height:auto;
    border-style:solid;
    border-width:thin;
    border-color:black;

}
#bio {
    text-align: center;

}
#bio header {
    background-color:#b85b25;
    border-style:solid;
    border-width:medium;
    border-color:black;
}
#biopic {
    float:left;
    max-width:200px;
    max-height:auto;
}
#bio p {
    font-size:20px;
}
#contact {
    text-align:center;
}
#contact header {
    background-color:#b85b25;
    border-style:solid;
    border-width:medium;
    border-color:black;
}
.righttext {
    font-style:italic;
    text-align:right;
}
.lefttext {
    font-style:italic;
    text-align:left;
}
.rightdate {
    text-align:right;
    font-style:italic;
    font-size:small;
}
.leftdate {
    text-align:left;
    font-style:italic;
    font-size:small;
}
