body {
    text-align: center;
    font-family: Tahoma;
    background-color:#f1d4a7
}
header {
    background-color: #b85b25;
    margin:2%;
    border-style:solid;
    border-width:medium;
    border-color:black;

}
.italic {
    font-style:italic;
}
time {
    font-size:small;
}
img {
    width:35%;
    height:auto;
}