/* 768px / 16px = 48em */
/* Extra Small Only */
/* Small Devices, Tablets */
.frame {
  overflow: hidden;
}

.frame-primary {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 25px auto 40px auto;
}

.frame-primary img {
  width: 100%;
}

@media only screen and (min-width: 48em) {
  .frame-primary {
    width: 355px;
    height: 355px;
    border-radius: 177.5px;
    position: relative;
    top: -30px;
    margin: 0 auto 63px auto;
  }
}
